<!-- <p>mobeilcomponent works!</p> -->
<article>
    <div class="news">
      <div class="news-img">
        <span class="news-span-img"><img src="./../../assets/image/samsung______()"Width="300px" height="300px"></span>
        <span class="news-content">
         <div class="top">Galaxy s23 Ultra 8a (Chalk,256 GB)</div>
         <ul class="vs" style="display: grid;">
          <li class="mssv" style="margin: inherit;">8 GB RAM| 128 GB ROM</li>
          <li class="mssv">6.1 CM(6.1 inch) FULL HD+DISPLAY 2x</li>
          <li class="mssv">12.2MP+12MP|8MP Front camera</li>
          <li class="mssv">3900 mAh Battery</li>
          <li class="mssv">Google Tensor Processor</li>
          <li class="mssv">1 Year Brand Warranty</li>
          </ul>
         
  
        </span>
      </div>
    </div>
    <div class="mca"style="display: block;"></div>
    <div class="msc">&#8377;20000</div>
    <div class="bcom">&#8377;2500</div>
    <div class="bca" style="display: inline-block;margin-left: 8px;"><span>16% off</span></div>
    <div class="bsc"><img src="./../../assets/ba22.png" height="25px"></div>
  
  </article>