footer {
    background-color: rgb(166, 120, 165);
    padding: 10px;
    text-align: center;
    color: rgb(46, 7, 199);
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(175, 57, 169);
    background-color: transparent;
    text-decoration: none;
    
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }