<!-- <p>mscomponent works!</p> -->
<article>
<div>
  <div class="box"style="border-ridge">
    <img src="./../../assets/image/mobiles.@1.webp"  alt="mobiles1" >
    <p>MOBIL PRICE:&#8377;10000.</p>
    <p class="grab">Upto 50% off</p>
    
  </div>
  <div class="box"style="border-radius">
    <img src="./../../assets/image/specker$.webp" alt="mobiles1" >
    <p> PRICE:&#8377;5000.</p>
    <p class="grab">Upto 55% off</p>
  </div>
  <div class="box">
    <img src="./../../assets/image/waches.vs.webp" alt="mobiles1" >
    <p> PRICE:&#8377;8000.</p>
    <p class="grab">Upto 40% off</p>    
  </div>
  <div class="box">
    <img src="./../../assets/image/waches.4.webp" alt="mobiles1" >
    <p> PRICE:&#8377;6000.</p>
    <p class="grab">Upto 60% off</p>  
  </div>
  <div class="box">
    <img src="./../../assets/image/cycle.ms1.webp" alt="mobiles1" >
    <p> PRICE:&#8377;10000.</p>
    <p class="grab">Upto 20% off</p>  
  </div>
  <div class="box">
    <img src="./../../assets/image/computer.1.webp" alt="mobiles1" >
    <p> PRICE:&#8377;13000.</p>
    <p class="grab">Upto 30% off</p> 
  </div>
  <div class="box">
    <img src="./../../assets/image/cycle.vs2.webp" alt="mobiles1" >
    <p> PRICE:&#8377;17000.</p>
    <p class="grab">Upto 50% off</p>
  </div>
  <div class="box">
    <img src="./../../assets/image/waches.4.webp" alt="mobiles1" >
    <p> PRICE:&#8377;11000.</p>
    <p class="grab">Upto 70% off</p> 
  </div>
  
    <div class="box"style="border-ridge">
      <img src="./../../assets/image/ideapad1234.webp"  alt="mobiles1" >
      <p> PRICE:&#8377;18000.</p>
      <p class="grab">Upto 80% off</p> 
      
    </div>
    
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/waches.ms...webp"  alt="mobiles1" >
        <p>PRICE:&#8377;20000.</p>
        <p class="grab">Upto 65% off</p> 
        
      </div>
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/headset.webp"  alt="mobiles1" >
        <p> PRICE:&#8377;15000.</p>
        <p class="grab">Upto 35% off</p> 
        
      </div>
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/camera.ms.webp"  alt="mobiles1" >
        <p> PRICE:&#8377;10000.</p>
        <p class="grab">Upto 25% off</p> 
        
      </div>
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/google speker2.jpg"  alt="mobiles1" >
        <p> PRICE:&#8377;12000.</p>
        <p class="grab">Upto 50% off</p> 
        
      </div>
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/wifivs!!.webp"  alt="mobiles1" >
        <p>PRICE:&#8377;15000.</p>
        <p class="grab">Upto 90% off</p> 
        
      </div>
      <div class="box"style="border-ridge">
        <img src="./../../assets/image/google-home-hub-1.webp"  alt="mobiles1" >
        <p> PRICE:&#8377;18000.</p>
        <p class="grab">Upto 85% off</p> 
        

  <!-- <img src="./image/ideapad1234.webp" alt="computer4" style="float: left;Width: 300px;height:150px;">
  <img src="" alt="specker" style="float:right;width:300px;height:150px;">
  <img src="" alt="waches" style="width:400px;height:150px; float:right;">
  <p>price:$600%.</p>
  <img src="" alt="waches" style="width:200px;height:70px;display:block;margin:10px auto 20px auto;">
  <p>price:$1000%.</p>
  <img src="" alt="cycle" style="float:left;width:200px;height100px;">
  <ima src="p" alt="cycle" style="width:100px;height30px;float:right;">
    <img src="" alt="cycle.2" style="width:400px;height60px;float:right;">
    <p>price:$5000%.</p> -->

</div>

