* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(230, 220, 222);
  padding: 20px;
  font-size: 25px;
  color: blue;

}

nav {

  width: 100%;
  height: 100%;
  background: rgb(233, 233, 227);
  padding: 15px;
}

ul {
  display: flex;


}

article {

  float: left;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
}

footer {
  background-color: rgb(166, 120, 165);
  padding: 10px;
  text-align: center;
  color: rgb(46, 7, 199);
}

@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(175, 57, 169);
  background-color: transparent;
  text-decoration: none;
  
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

  

.box{
  border: 1px solid rgb(14, 14, 14);
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  display: inline-block;

}
.box img {
  margin:5px;
  width: 200px;
  height: 200px;  
}
.suray{
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: rgb(17, 223, 223);
}
.grab{
color: rgb(11, 33, 158);
}



button{
float: right;
background-color: rgb(18, 242, 223);
padding: 10px;  
}
.arts{
float: right;
background-color: rgb(13, 236, 13);
}
.kvr{
background-color: whitesmoke;
}