<!-- <p>travelcomponent works!</p> -->
<article>
    <form class="psv" action="/action_page.php">
      <fieldset>
        <legend>Traveller:</legend>
      <label for="From">From:</label><br>
      <input type="text" id="From" name="From"><br>
      <label for="To">To:</label><br>
      <input type="text" id="To" name="To"><br>
      <label for="E-mail">E-mail:</label><br>
      <input type="text" id="E-mail" name="E-mail"><br>
      <label for="Name">Name:</label><br>
      <input type="text" id="Name" name="Name"><br>
      <label for="Mal and femal">mal and femal:</label><br>
      <input type="text" id="Mal and femal" name="Mal and femal"><br>
      <label for="Addres">Addres:</label><br>
      <input type="text" id="Addres" name="Addres"><br>  
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="pwd"><br><br> 
      <label for="1 Traveller|Class">1 Traveller|Class:</label><br>
      <input type="text" id="1 Traveller|Class" name="1 Traveller|Class"><br><br>
      <label for="Date and months">Date and months :</label><br>
      <input type="date" id="Date and months" name="Date and months"><br><br>
      <label for="appt">Select a time:</label><br>
      <input type="time" id="appt" name="appt"><br>
      <input type="image" src="./../../assets/image/Flights0001.webp" alt="Submit" width="48" height="48"><br><br>
      
      </fieldset>
    </form>
      
      <div>
          <div class="box"style="border-ridge">
            <img src="./../../assets/image/travel^^^^^^^.webp"  alt="mobiles1"style="display: inline-block;padding:2px;margin:20px;"Width="700px;height:150px;">
            
            
          </div>
          <div>
              <div class="box"style="border-ridge">
              </div>
              </div>
              <img src="./../../assets/image/travel$$$$$$$$.png"  alt="mobiles1"style="display: inline-block;padding:30px;margin:20px;"Width=700px;height:150px;float >
                
                
              </div>
              <div>
                <div class="box"style="border-ridge">
                  <!-- <img src="./../../assets/image/travel########.webp"  alt="mobiles1"style="display: inline-block;padding:2px;margin:20px;"Width="700px;height:150px;"> -->
                  
                  
                </div>
              </div>
</article>
