article {

    float: left;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height: auto;
  }
  .suray{
    margin: auto;
    width: 30px;
    height: 30px;
}
.psv{
  float: left;
  background-color: rgb(144, 94, 190);
}
button{
  float: right;
  background-color: rgb(18, 242, 223);
  padding: 10px;  
}
.kvr{
  background-color: aqua;
}
