<!-- <p>electronicescomponent works!</p> -->
<article>

    <div>
  <div class="box"style="border-ridge">
    <img src="./../../assets/moush7.webp"  alt="mobiles1">
    <p>MOUSH</p>
    <P class="snt">Grab Now</P>
    <p> PRICE:&#8377;1000.</p>
    <p class="shop">Upto 45% off</p>
    
  </div>
  <div class="box"style="border-radius">
    <img src="./../../assets/image/airpods8.jpg" alt="mobiles1" >
    <P>AIRPODS</P>
    <P class="snt">Shop Now</P>
    <p> PRICE:&#8377;5000.</p>
    <p class="shop">Upto 50% off</p>
  </div>
  <div class="box">
    <img src="./../../assets/gaming headset9.webp" alt="mobiles1" >
    <P>GAMING HEADSET</P>
    <P class="snt">Grab Now</P>
    <p> PRICE:&#8377;2000.</p>
    <p class="shop">Upto 35% off</p>
  </div>
  <div class="box">
    <img src="./../../assets/image/google speker2.jpg" alt="mobiles1" >
    <P>GOOGLE SPEKER</P>
    <P class="snt">Shop Now</P>
    <p> PRICE:&#8377;6000.</p>
    <p class="shop">Upto 4o% off</p>
  </div>
  <div class="box">
    <img src="./../../assets/image/headphon6.jpg" alt="mobiles1" >
    <P>HEADPHON</P>
    <P class="snt">Grab Now</P>
    <p> PRICE:&#8377;1000.</p>
    <p class="shop">Upto 60% off</p>
  </div>
   
   