<!-- <p>logiencomponent works!</p> -->
<article>
    <form class="psv" action="/action_page.php">
        <fieldset>
          <legend>User Login:</legend>
        <label for="User Name">User Name:</label><br>
        <input type="text" id="User Name" name="User Name"><br>
        <label for="Last Name">Last Name:</label><br>
        <input type="text" id="Last Name" name="Last Name"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br><br> 
        <label for="Email">Email:</label><br>
        <input type="text" id="Email" name="Email"><br><br>
        <label for="Date and months">Date and months :</label><br>
        <input type="date" id="Date and months" name="Date and months"><br><br>

        <input type="image" src="./../../assets/image/Flights0001.webp" alt="Submit" width="48" height="48"><br><br>
        
        </fieldset>
      </form>




</article>
