<!-- <p>topnavecomponent works!</p> -->
<header>

    
    <img src="./../../assets/image/images.ms.jpg" alt="flipkard" style="width:400px;height: 100px;">
    <button class="Login"> <a href="./Login.html" >Login</a></button>
    
    <div>
      <img class="arts vvv"src="assets/image/vs.$.gif" alt="cart" style= "float: right;" width="40px;height:30px">
    </div>
  
  </header>
  <nav>
  <section>
  
    <form autocomplete="on">
    <div class="suray" style="display: flex;">
         <input class="kvr" type="text" placeholder="search anything"name>
        <button type="submit" width="80px;height40px">
          <img src="./../../assets/image/search.23.jpg" alt="search" style="float:right;" width="20px;height:15px">
        </button>
      
       
      </div>
    </form>
  
  
    
    <ul>
      <style type="text-align;">
  
  
      </style>
      <li style="display: block; padding:38px;"><a
          href="./mobile.html">Mobiles</a>
      </li>
      <a href="default.asp">
      </a>
      <li style="display: block;padding: 38px;"><a
          href="Electronices.html">Electronices</a>
      </li>
      <div>
      </div>
      <li style="display: block; padding: 38px;"><a
          href="./TRAVEL.html">Travel</a>
      </li>
    </ul>
    </section>
  </nav>
  
      